*{  
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header {
    padding: 0px 32px;
    flex: 0 1 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(184,216,190);;
}


.logo {
    width: 360px;
    height: 90%;
    display: flex;
    align-items: center;
}

.logo-title {
    color: white;
}
.game-body {
    width: 100%;
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.game-content {
    margin-top: 64px;
    align-items: center;
    border: 16px solid rgb(184,216,190);
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 8px 8px;
    margin: -1px;
    background-color: rgb(184,216,190);
}

.game-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 2em; 
}

.apple-icon {
    padding-right: 12px;
    width: 1.5em;
}

.material-icons-outlined {
    font-size: 2em;
    color: white;
    padding: 0px 6px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.material-icons-outlined:hover {
    transform: scale(1.2);
}

#restart-btn {
    transition: transform 0.3s ease-in-out;
}

#restart-btn:checked {
    transform: rotate(180deg);
}

.game-board {
    margin: -1px;
    background-color: rgb(255, 255, 255);
    height: 480px;
    width: 480px;
}

.snake-head {
    background-color: rgb(255, 174, 174);
    width: 32px;
    height: 32px;
}

table {
     border-collapse: collapse;
}
td {
    border: none;
}
.td-escura {
    background-color: rgb(255, 255, 255);
}
.td-clara {
    background-color: rgb(196, 226, 202);
}

footer {
    background-color: rgb(184,216,190);
    color: white;
    padding: 2px;
    flex: 0 1 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
